.mm {
    margin-bottom: 20px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20px;
    background-color: rgba(202, 205, 207, 0.459);
    padding: 15px;
    border-radius: 5px;
  }
  .btn3 {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: aliceblue;
    color: rgb(95, 78, 78);
    margin: auto;
  }
  .availableC{
    text-align: center;
    color: rgb(95, 78, 78);
  }