.country {
    background-color: white;
    padding: 10px;
    box-shadow: 2px 1.5px rgba(167, 164, 164, 0.76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }
  .cName {
    color: rgb(13, 13, 143);
  }
  .country img {
    width: 150px;
    border-radius: 3px;
  }
  
  button {
    padding: 10px;
    margin: 3px;
    border: 1px solid gray;
    font-weight: bolder;
    color: white;
    border-radius: 3px;
    cursor: pointer;
  }
  button:hover {
    box-shadow: 2px 2px rgb(112, 135, 136);
  }
  .btn1 {
    background-color: rgb(72, 124, 72);
  }
  .btn2 {
    background-color: rgb(192, 63, 63);
  }
  